{% extends "common_layout.html" %}
{% block title %} Choix d'un acteur {% endblock %}

{% block container %}

<h1 class="title is-1">Choix d'un acteur</h1>

<div class="notification is-warning">Page non encore réalisée</div>
    
{% endblock %}