{% extends "common_layout.html" %}
{% block title %} Choix d'un réalisateur {% endblock %}

{% block container %}

<h1 class="title is-1">Choix d'un réalisateur</h1>

<form method="post" action="{{ url_for('films_de') }}" class="form">
<div class="field">
    <label class="label">Choisissez dans la liste :</label>
    <div class="control">
        <div class="select">
            <select name="id_real">
                {% for id, name in realisateurs %}
                <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="field">
    <div class="control">
      <button class="button is-link">Rechercher</button>
    </div>
</div>
</form>

{% endblock %}